{% extends 'base.html.twig' %}

{% block title %}Hello UserDetailController!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="user_detail">{{ user.name }}</h1>
    <h2 class="user_detail">{{ user.phone }}</h2>
    <h2 class="user_detail">{{ user.address }}</h2>
</div>
{% endblock %}
